frontend/node_modules
frontend/package-lock.json
frontend/.env

smart_contract/node_modules
smart_contract/coverage
smart_contract/coverage.json
smart_contract/typechain
smart_contract.env

#Hardhat files
smart_contract/cache
smart_contract/artifacts

.DS_Store
