@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
  font-family: 'Righteous', cursive;
}
.react-icons {
  display: flex;
  align-self: center;
}
.icon_pulse {
  animation: circle 1.2s steps(8) infinite;
}

@keyframes circle {
  from {
      transform: rotate(90deg);
  }

  to {
      transform: rotate(450deg);
  }
}

.swal2-image {
  margin: 0em auto 1em !important;
}